.price__control {
  width: 100px !important;
  max-height: 25px;
  border: solid 2px gray !important;
  color: var(--white, #fbfbfb) !important;
  font-family: Poppins !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
  outline: none !important;
}

.price__menu-list {
  height: 157px;
  overflow: hidden;
}

.input__menu-list {
  height: 157px;
  overflow: hidden;
}

.price__option--is-selected {
  background: rgb(212 212 212) !important;
  height: 36px;
}

.price__option {
  height: 36px;
}

.price__option:hover {
  background: rgb(229 229 229) !important;
}

.input__option--is-selected {
  background: rgb(212 212 212) !important;
  height: 36px;
}

.input__option {
  height: 36px;
}

.input__option:hover {
  background: rgb(229 229 229) !important;
}

.input__control {
  width: 143px;
  max-height: 25px;
  border: solid 2px gray !important;
  color: var(--white, #fbfbfb) !important;
  font-family: Poppins !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
  outline: none !important;
}
