.modal {
  width: 570px;
  height: 100vh;
  border-radius: 24px;
  background: gray;
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  padding: 15px 35px 15px;
  box-sizing: border-box;
  overflow: scroll;
}

.modal::-webkit-scrollbar {
  background-color: transparent;
  scrollbar-width: 0;
  scrollbar-width: none;
}

.image {
  width: 500px;
  height: 248px;
  margin: 0 auto;
  border-radius: 14px;
  object-fit: cover;
  margin-bottom: 8px;
}

.nameAdYear {
  display: block;
  margin-top: 0px;
  margin-bottom: 2px;
  color: white;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.model {
  color: #ff868d;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.cityAndCountry {
  display: block;
  box-sizing: border-box;
  width: 277px;
  height: 40px;
  color: white;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  margin-bottom: 8px;
}

.description {
  color: white;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  margin-bottom: 8px;
  display: block;
}

.accessoriesTitle {
  color: white;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  margin-bottom: 24px;
  display: block;
  margin: 0;
}

.accessoriesText {
  color: white;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  margin: 0;
}

.functionalities {
  color: white;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  margin-bottom: 8px;
}

.rentalTitle {
  color: white;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  margin-bottom: 4px;
}

.rental {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.age {
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  color: #363535;
  line-height: 18px;
  letter-spacing: -0.24px;
  box-sizing: border-box;
  display: inline-flex;
  padding: 7px;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  background: #f9f9f9;
}

.icon {
  position: fixed;
  z-index: 1;
  top: 7%;
  left: 71%;
  transform: translate(-50%, -50%);
  width: 25px !important;
  height: 25px !important;
  fill: white;
  background-color: transparent;
  color: transparent;
}

.nameAndButton {
  display: flex;
  justify-content: space-between;
}

.modalBtn {
  color: var(--White, #fff);
  font-family: Manrope;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  display: inline-flex;
  padding: 12px 50px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #ff868d;
  width: 70px;
  height: 20px;
  align-self: flex-start;
}

.rentalAge,
.mileageColor,
.price {
  color: #ff868d;
}
